.badge {
  position: relative;
  display: inline-flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 80%;
  font-weight: $font-weight-regular;
  line-height: 1;
  leading-trim: both;
  text-edge: cap alphabetic;
  padding: ($badge-padding-y * 1) ($badge-padding-x * 1);
  background: transparent;
  border-width: $btn-border;
  border-style: solid;
  border-color: transparent;
  border-radius: calc(#{$badge-radius} * 1);
  color: $body;
  background: $light;
  margin-top: -.05rem;
  &:hover {
  }
}

// .badge {
//   position: relative;
//   top: -1px;
//   margin-top: -.05rem;
// }

.badge-xxs {
  font-size: 50%;
  padding: ($badge-padding-y * .4) ($badge-padding-x * .4);
  border-radius: calc(#{$badge-radius} * 0.4);
}

.badge-xs {
  font-size: 60%;
  padding: ($badge-padding-y * .6) ($badge-padding-x * .6);
  border-radius: calc(#{$badge-radius} * 0.6);
}

.badge-sm {
  font-size: 70%;
  padding: ($badge-padding-y * .8) ($badge-padding-x * .8);
  border-radius: calc(#{$badge-radius} * 0.8);
}

.badge-lg {
  margin-top: -.5%;
  font-size: 90%;
  padding: ($badge-padding-y * 1.1) ($badge-padding-x * 1.1);
  border-radius: calc(#{$badge-radius} * 1.05);
}

.badge-xl {
  margin-top: -.5%;
  font-size: 100%;
  padding: ($badge-padding-y * 1.2) ($badge-padding-x * 1.2);
  border-radius: calc(#{$badge-radius} * 1.1);
}

@media (min-width: $desktop-breakpoint) {
  .md-badge-xxs {
    font-size: 50%;
    padding: ($badge-padding-y * .4) ($badge-padding-x * .4);
  }

  .md-badge-xs {
    font-size: 55%;
    padding: ($badge-padding-y * .6) ($badge-padding-x * .6);
  }
  
  .md-badge-sm {
    font-size: 60%;
    padding: ($badge-padding-y * .8) ($badge-padding-x * .8);
  }
  
  .md-badge-lg {
    margin-top: -.5%;
    font-size: 90%;
    padding: ($badge-padding-y * 1.1) ($badge-padding-x * 1.1);
  }
  
  .md-badge-xl {
    margin-top: -.5%;
    font-size: 100%;
    padding: ($badge-padding-y * 1.2) ($badge-padding-x * 1.2);
  }
  .md-badge-block {
    display: block;
    width: 100%;
  }
}

@media (max-width: $desktop-breakpoint) {
  .sm-badge-xs {
    font-size: 50%;
    padding: ($badge-padding-y * .4) ($badge-padding-x * .4);
  }
  .sm-badge-xs {
    font-size: 55%;
    padding: ($badge-padding-y * .6) ($badge-padding-x * .6);
  }
  
  .sm-badge-sm {
    font-size: 60%;
    padding: ($badge-padding-y * .8) ($badge-padding-x * .8);
  }
  
  .sm-badge-lg {
    margin-top: -.5%;
    font-size: 90%;
    padding: ($badge-padding-y * 1.1) ($badge-padding-x * 1.1);
  }
  
  .sm-badge-xl {
    margin-top: -.5%;
    font-size: 100%;
    padding: ($badge-padding-y * 1.2) ($badge-padding-x * 1.2);
  }
  .sm-badge-block {
    display: block;
    width: 100%;
  }
}



@each $name, $color in $colors {

  .badge-#{$name} {
    @if $name == 'light' or $name == 'white' {
      color: $body;
    } @else {
      color: $white;
    }
    background-color: $color;
    border-color: $color;
    // &:hover {
    //   @if $name == 'dark' or $name == 'black' {
    //     background: lighten($color, 8%);
    //     border-color: lighten($color, 8%);
    //   } @else {
    //     background: darken($color, 8%);
    //     border-color: darken($color, 8%);
    //   }
    // }
    &:disabled{
      opacity: .7;
    }
  }

  .hover-badge-#{$name} {
    &:hover {
      background: lighten($color, 8%);
      border-color: lighten($color, 8%);
    }
  }

}

