.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-size: .96rem;
  line-height: 1.3;
  padding: $btn-padding-y $btn-padding-x;
  transition: all .15s ease-in-out;
  cursor: pointer;
  color: $body;
  background: transparent;
  border-width: $btn-border;
  border-style: solid;
  border-color: transparent;
  border-radius: $btn-radius;
  &:hover {
    color: inherit;
    opacity: .9;
  }
}

.btn-xxs {
  font-size: .6rem !important;
  padding: ($btn-padding-y * .3) ($btn-padding-x * .35) !important;
  border-radius: calc(#{$btn-radius} * 0.85);
}

.btn-xs {
  font-size: .7rem !important;
  padding: ($btn-padding-y * .4) ($btn-padding-x * .45) !important;
  border-radius: calc(#{$btn-radius} * 0.9);
}

.btn-sm {
  font-size: .8rem !important;
  padding: ($btn-padding-y * .8) ($btn-padding-x * .89) !important;
  border-radius: calc(#{$btn-radius} * 0.95);
}

.btn-lg {
  font-size: 1.26rem;
  padding: ($btn-padding-y * 1.3) ($btn-padding-x * 1.3);
}

.btn-xl {
  font-size: 1.5rem;
  padding: ($btn-padding-y * 1.6) ($btn-padding-x * 1.6);
}
.btn-block {
  display: block;
  width: 100%;
}

.btn-rounded {
  border-radius: 9999px !important;
}

@media (min-width: $desktop-breakpoint) {
  .md-btn-xs {
    font-size: .74rem !important;
    padding: ($btn-padding-y * .5) ($btn-padding-x * .5) !important;
  }
  
  .md-btn-sm {
    font-size: .84rem !important;
    padding: ($btn-padding-y * .9) ($btn-padding-x * .9) !important;
  }
  
  .md-btn-lg {
    font-size: 1.26rem;
    padding: ($btn-padding-y * 1.3) ($btn-padding-x * 1.3);
  }
  
  .md-btn-xl {
    font-size: 1.5rem;
    padding: ($btn-padding-y * 1.6) ($btn-padding-x * 1.6);
  }
  .md-btn-block {
    display: block;
    width: 100%;
  }
}

@media (max-width: $desktop-breakpoint) {
  .sm-btn-xs {
    font-size: .74rem !important;
    padding: ($btn-padding-y * .5) ($btn-padding-x * .5) !important;
  }
  
  .sm-btn-sm {
    font-size: .84rem !important;
    padding: ($btn-padding-y * .9) ($btn-padding-x * .9) !important;
  }
  
  .sm-btn-lg {
    font-size: 1.26rem;
    padding: ($btn-padding-y * 1.3) ($btn-padding-x * 1.3);
  }
  
  .sm-btn-xl {
    font-size: 1.5rem;
    padding: ($btn-padding-y * 1.6) ($btn-padding-x * 1.6);
  }
  .sm-btn-block {
    display: block;
    width: 100%;
  }
}



@each $name, $color in $colors {

  .btn-#{$name} {
    @if $name == 'light' or $name == 'white' {
      color: $body;
    } @else {
      color: $white;
    }
    background-color: $color;
    border-color: $color;
    &:hover {
      @if $name == 'light' or $name == 'white' {
        color: $body;
      } @else {
        color: $white;
      }
      @if $name == 'dark' or $name == 'black' {
        background: lighten($color, 6%);
        border-color: lighten($color, 6%);
      } @else {
        background: darken($color, 8%);
        border-color: darken($color, 8%);
      }
    }
    &:disabled{
      opacity: $btn-disabled-opacity;
    }
  }

  .btn-outline-#{$name} {
    color: $color;
    background-color: transparent;
    border-color: $color;
    border-width: 1px;
    &:hover {
      background-color: $color;
      @if $name == 'light' or $name == 'white' {
        color: $body;
      } @else {
        color: $white;
      }
      @if $name == 'dark' or $name == 'black' {
        background: lighten($color, 6%);
        border-color: lighten($color, 6%);
      } @else {
        background: darken($color, 8%);
        border-color: darken($color, 8%);
      }
    }
    &:disabled{
      opacity: $btn-disabled-opacity;
    }
  }

  .hover-btn-#{$name} {
    &:hover {
      background: $color;
      border-color: $color;
    }
  }

}

.btn-glass {
  background-color: rgba(darken($primary, 10%), 0.3);
  box-shadow: rgba($dark, 0.25) 0px 30px 60px, rgba($dark, 0.2) 0px 0px 0px 0.5px inset;
  backdrop-filter: blur(40px) brightness(80%) saturate(150%);
  -webkit-backdrop-filter: blur(40px) brightness(80%) saturate(150%);
  &:hover {
    background-color: rgba(darken($primary, 10%), 0.1);
    box-shadow: rgba($dark, 0.2) 0px 0px 0px 0.5px inset;
  }
}

.hover-btn-glass {
  &:hover {
    background-color: rgba(darken($primary, 10%), 0.1);
    box-shadow: rgba($dark, 0.2) 0px 0px 0px 0.5px inset;
  }
}

.btn-fast {
  touch-action: manipulation;
}