//WINDOW

.code-box, .code-window, .code-single {
  display: inline-block;
  position: relative;
  width: 100%;
  background: var(--code-bg, $code-bg);
  border: none;
  color: $code-color;
  border-radius: $box-radius;
  margin-bottom: .8rem;
  outline: none !important;
  text-align: left;
  tab-size: 2;
  direction: ltr;
  -webkit-hyphens: none;
  hyphens: none;
  &::-webkit-scrollbar {
    width: 0px;
  }
  code {
    display: block;
    color: $code-color;
    overflow-x: auto;
    &::-webkit-scrollbar {
      width: 0px;
    }
  }
  .copy-icon {
    opacity: 0;
    display: block;
    content: '';
    position: absolute;
    z-index: 30;
    top: .5rem;
    right: .5rem;
    width: 20px;
    height: 20px;
    border-radius: ($box-radius * .8);
    background-color: rgba($white, 1);
    color: $gray;
    cursor: pointer;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='370' height='449' viewBox='0 0 370 449' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M355.941 60.941L304.059 14.059C295.057 5.05724 282.848 6.65676e-05 281.118 0H153C126.49 0 105 21.49 105 48V91H48C21.49 91 0 112.49 0 139V401C0 427.51 21.49 449 48 449H249C275.51 449 297 427.51 297 401V368H322C348.51 368 370 346.51 370 320V94.882C370 82.1516 364.943 69.9427 355.941 60.941ZM274 32.491C276.813 33.1852 279.383 34.6359 281.431 36.686L333.313 83.569C335.363 85.617 336.814 88.1867 337.508 91H274V32.491ZM265 401C265 409.822 257.822 417 249 417H48C39.178 417 32 409.822 32 401V139C32 130.178 39.178 123 48 123H105V320C105 346.51 126.49 368 153 368H265V401ZM338 320C338 328.822 330.822 336 322 336H153C144.178 336 137 328.822 137 320V48C137 39.178 144.178 32 153 32H242V99C242 112.2 252.8 123 266 123H338V320Z' fill='gray'/%3E%3C/svg%3E%0A");
    // &:hover {
    //   opacity: .9;
    // }
  }
  .tabs {
    position: absolute;
    top: 9px;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    width: calc(100% - 80px);
    white-space: nowrap;
    -moz-user-select: none;
    user-select: none;
    .tab {
      display: inline-block;
      line-height: 1.8rem;
      //margin-right: 1px;
      padding: 0 1rem;
      font-size: 0.7rem;
      color: $light;
      cursor: pointer;
      -moz-user-select: none;
      user-select: none;
      background: rgba($primary, .2);
      &:hover {
        background: rgba($primary, .4);
      }
      &.tab-active {
        color: $white;
        background: rgba($primary, .7);
      }
    }
  }
  &:hover {
    .copy-icon {
      opacity: 1;
    }
  }
  @media (max-width: $desktop-breakpoint) {
    .tabs {
      .tab {
        line-height: 1.4rem;
        padding: 0 0.6rem;
      }
    }
  }

}

.code-window, .code-box {
  overflow-wrap: break-word !important;
  word-break: break-all !important;
  code {
    // overflow-wrap: break-word !important;
    // word-break: break-all !important;
    // overflow-x: scroll;
    // white-space: nowrap;
    //to break words
    //display: inline-block;
    //word-wrap:break-word;
    //white-space: normal;
  }
}

.code-box {
  padding: 0.1rem 1.2rem 0rem 1.5rem;
}

.code-window {
  padding: 1.6rem 1.2rem 0rem 1.5rem;
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="54" height="14" viewBox="0 0 54 14"><g fill="none" fillRule="evenodd" transform="translate(1 1)"><circle cx="6" cy="6" r="6" fill="%23FF5F56" stroke="%23E0443E" strokeWidth=".5" /><circle cx="26" cy="6" r="6" fill="%23FFBD2E" stroke="%23DEA123" strokeWidth=".5" /><circle cx="46" cy="6" r="6" fill="%2327C93F" stroke="%231AAB29" strokeWidth=".5" /></g></svg>');
  background-repeat: no-repeat;
  background-position: 16px 16px;
  overflow-wrap: break-word !important;
  word-break: break-all !important;

  .tabs {
    top: 9px;
    left: 80px;
    .tab {
    }
  }

  @media (max-width: $desktop-breakpoint) {
    background-size: 37px auto;
    background-position: 18px 15px;
    max-width: 100% !important;
    padding: 2rem 1.1rem 1.2rem 1.1rem;
    .tabs {
      top: 5px;
      left: 70px;
      .tab {
      }
    }
  }
}


//PRE CODE CSS
.code-single {
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  border-radius: $box-radius;
  padding: 0;
  min-height: 3.2rem; //temporary not right fix for line height
  code {
    overflow-wrap: break-word !important;
    word-break: break-all !important;
    //padding: 1.1rem 1rem .9rem 1.2rem;
    line-height: 1rem;
    //margin: 0 2rem 0 0;
    padding: 0.1rem 2rem 0.1rem 1rem;
    overflow-x: scroll;
    flex: 1;
  }
  label {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding: 0px 0.8rem;
    font-weight: bold;
    font-size: .8rem;
    color: $code-label;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
    margin: 0;
    background-color: lighten($code-bg, 4%);
    border-right: 1px solid lighten($code-label, 5%);
    opacity: .7;
    border-top-left-radius: $box-radius;
    border-bottom-left-radius: $box-radius;
  }
  @media (max-width: $desktop-breakpoint) {
  label {
    padding: 0px 0.8rem;
    font-size: .7rem;
  }
    code {
      font-size: .7rem;
    }
  }
}


.code-all {
  code {
    display: inline-block;
    color: $dark;
    background-color: rgba($light, .9);
    position: relative;
    top: -1px;
    padding: .15em .34em;
    padding-bottom: .08em;
    border-radius: $badge-radius * .8;
  }
  mark {
    padding: 0 .25em;
  }
}

@import "../packages/highlightjs";