//BASIC

// .dropdown-popper2 {
//   display: block;
//   position: relative;
//   outline: none !important;
//   .dropdown-popper-popup {
//     position: absolute;
//     z-index: 9999;
//   }
// }

.popper-arrow {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    z-index: -1;
    background: inherit;
  background-color: red;
}
.popper-dropdown {
  position: absolute;
  z-index: 150;
  top: 0;
  left: 0;
  background-color: $white !important;
  opacity: 1 !important;
  max-width: 280px;
  outline: none;
  overflow: hidden;
  box-shadow: rgba($primary, 0.1) 0px 5px 30px 0px;
  cursor: auto;
  .x-scroll {
    max-width: 100%;
  }
  .popperContent {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
    max-height: 480px;
  }
}
.popper-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  * {
    opacity: 0;
  }
}


.dropdown-menu, .dropdown-menu-center, .dropdown-menu-right {
  position: absolute;
  z-index: 9999;
  display: block; //none
  border: none;
  border-radius: $dropdown-radius;
  background-color: $white;
  box-shadow: rgba($primary, 0.1) 0px 5px 30px 0px;
  top: $dropdown-top;
  min-width: 11rem;
  text-align: left;
  overflow: hidden;

  .dropdown-item {
    color: $body;
    display: block;
    font-size: $dropdown-font-size;
    font-weight: $font-weight-regular;
    line-height: 1.1;
    letter-spacing: 0.4px !important;
    text-transform: capitalize;
    clear: both;
    border-radius: $dropdown-radius;
    padding: .6rem 1rem;
    margin: 2px 4px;
    &:hover {
      background-color: $light;
    }
    &:active, &.active {
      color: $light;
      background-color: $primary;
    }
    &:first-child {
      margin-top: 5px;
    }
    &.dropdown-item-row {
      border-radius: 0;
      padding: .8rem 1.2rem;
      margin: 8px 0 0 0;
      color: $white;
      background-color: $primary;
      &:hover {
        opacity: .95;
      }
    }
  }
}

.dropdown-menu {
  left: 0;
}
.dropdown-menu-center {
  left: calc(-50% + 15px);
}
.dropdown-menu-right {
  margin-right: -2px !important;
  right: 0;
  left: auto;
}

//CARET ARROW
.dropdown-caret, .dropdown-caret-center, .dropdown-caret-right {
  position: absolute;
  top: ($dropdown-top - 6px);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #FFFFFF;
  @media (max-width: $desktop-breakpoint) {
    top: (($dropdown-top * .9) - 4px);
  }
}
.dropdown-caret {
  left: 15px;
}
.dropdown-caret-center {
  left: calc(50% - 15px);
}
.dropdown-caret-right {
  right: 15px;
  left: auto;
}

@media (min-width: $desktop-breakpoint) {
  .md-dropdown-menu {
    left: 0;
  }
  .md-dropdown-menu-center {
    left: calc(-50% + 15px);
  }
  .md-dropdown-menu-right {
    margin-right: -2px !important;
    right: 0;
    left: auto;
  }
}

//ADD TO TOGGLE
.dropdown-t-sm {
  .dropdown-menu, .dropdown-menu-center, .dropdown-menu-right {
    top: $dropdown-top * .72;
  }
  .dropdown-caret, .dropdown-caret-center, .dropdown-caret-right {
    top: (($dropdown-top * .72) - 6px);
    @media (max-width: $desktop-breakpoint) {
      top: (($dropdown-top * .72) - 4px);
    }
  }
}
@media (min-width: $desktop-breakpoint) {
  .md-dropdown-t-sm {
    .dropdown-menu, .dropdown-menu-center, .dropdown-menu-right {
      top: $dropdown-top * .72;
    }
    .dropdown-caret, .dropdown-caret-center, .dropdown-caret-right {
      top: (($dropdown-top * .72) - 6px);
      @media (max-width: $desktop-breakpoint) {
        top: (($dropdown-top * .72) - 4px);
      }
    }
  }
}

.dropdown-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  //grid-template-rows: auto;
  grid-auto-flow: dense;
  justify-content: center;
  margin: 0 auto;

  .dropdown-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
  }
  @media (max-width: $desktop-breakpoint) {
    grid-template-columns: repeat(2, 1fr);
  }
}