@import 'forms/form-none';
@import 'forms/form-basic';
@import 'forms/form-invisible';
@import 'forms/form-clean';
@import 'forms/form-muted';
@import 'forms/form-floating';
@import 'forms/form-elegant';
@import 'forms/select';
@import 'forms/checkbox';
@import 'forms/form-inner';

//STYLES
label {
  color: $form-label;
  font-size: .8rem;
  margin-bottom: .2rem;
  margin-left: .2rem;
  font-weight: $font-weight-bold;
  letter-spacing: 0.3;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  .btn {
    border: none !important;
    font-size: .6rem !important;
    padding: 0.05rem 0.3rem !important;
    margin-top: -1px;
  }
}

button {
  background-color: transparent;
}

.form-inline {
  display: inline-flex;
  margin-right: 1rem;
}

.form-xs {
  input, textarea, select {
    padding: .3rem .4rem .2rem .6rem;
    font-size: .6rem;
  }
  label {
    font-size: 60%;
  }
}

.form-sm {
  input, textarea {
    padding: 10px 14px;
    //padding: 1rem 10px .6rem 15px;
    font-size: .85rem;
  }
  select {
    padding: 8px 14px 7px 14px;
    //padding: 1rem 10px .6rem 15px;
    font-size: .85rem;
  }
  label {
    font-size: 70%;
  }
}


.form-lg {
  input, textarea, select {
    //padding: 1rem 10px .6rem 15px;
    font-size: 1.3rem;
  }
  label {
    font-size: 110%;
  }
}


.md-search {
  position: relative;
  width: 100%;
  max-width: 600px;
  input {
    font-size: 1rem;
    padding: .8rem;
    width: 100%;
    outline: none;
    color: $dark;
    border: none;
    border-radius: $btn-radius;
    &::-webkit-search-cancel-button {
      display: none;
    }
  }
  i {
    position: absolute;
    top: 11px;
    right: 12px;
    background: transparent;
    color: $gray;
    border: 0;
    opacity: 0.6;
    font-size: 1.7em;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
  }
  i:hover {
    opacity: 1
  }

  &.typeahead {
    input {
      &::-webkit-search-cancel-button {
        display: block;
      }
      &:not(:placeholder-shown) + i {
        display: none;
      }
    }
  }
}


.lg-search {
  position: relative;
  width: 100%;
  max-width: 600px;
  input {
    font-size: 18px;
    padding: 14px;
    width: 100%;
    outline: none;
    color: $dark;
    border: none;
    border-radius: $btn-radius;
    &::-webkit-search-cancel-button {
      display: none;
    }
  }
  i {
    position: absolute;
    top: 12px;
    right: 12px;
    background: transparent;
    color: $gray;
    border: 0;
    opacity: 0.6;
    font-size: 2em;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
  }
  i:hover {
    opacity: 1
  }

  &.typeahead {
    input {
      &::-webkit-search-cancel-button {
        display: block;
      }
      &:not(:placeholder-shown) + i {
        display: none;
      }
    }
  }
}



input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


//SELECT BTN
.form-select-btn {
  display: inline-block;
  text-align: center;
  text-align-last: center;
  font-weight: $font-weight-bold;
  color: #9AA2B5;
  background-color: $light;
  line-height: 1.05;
  box-sizing: border-box;
  margin: 0;
  border: none;
  border-radius: 8px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  max-width: 100%;
  &::-ms-expand {
    display: none;
  }
  &:focus {
    overflow: none;
    outline: none !important;
    //font-weight: $font-weight-regular;
  }
  &:not(:focus) {
    font-weight: $font-weight-bold;

  }
  &* {
    font-weight: $font-weight-regular;
  }
  &>option {
    font-size: .9rem;
    font-weight: $font-weight-regular;
  }
  &option:checked {
  }
  &option, option {
    font-size: .9rem;
    font-weight: $font-weight-regular !important;
    text-transform: none;
    padding: 20px;
  }
}


//FORMS FILE INPUT NEW VERSION WITH DRAG DROP
.custom-file-upload {
  position: relative;
  font-size: 14px;
  padding: 7px 14px;
  display: inline-block;
  color: $form-text;
  background-color: $form-bg;
  cursor: pointer;
  overflow: hidden;
  &* {
    pointer-events: none;
  }
  &:hover {
    color: white;
    background-color: #acacac;
  }
  input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}


input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active, input:-webkit-autofill, input:-webkit-autofill-strong-password {
  background-color: $form-bg !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.form-muted.required label:after, .form-clean.required label:after, .form-muted-select.required label:after { 
  color: $red;
  content: "*";
  margin-left: 5px;
  vertical-align: super;
}

.form-basic, .form-clean, .form-muted {
  label {
    .btn {
      border-radius: calc(#{$btn-radius} * 0.6);
    }
  }
}

//PREVENT ZOOM ON MOBILE
//<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
@media (max-width: $desktop-breakpoint) {
  //select, textarea, input { font-size: 16px; }
}


.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
