@mixin form {
  position: relative;
}
@mixin check-mark {
  $light-just-number: str-replace('' + $light, '#', '');
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17.837 17.837' xml:space='preserve'%3E%3Cpath d='M16.145 2.571a.7.7 0 0 0-.99 0L6.92 10.804l-4.241-4.27a.698.698 0 0 0-.989 0L.204 8.019a.703.703 0 0 0 0 .99l6.217 6.258a.704.704 0 0 0 .99 0L17.63 5.047a.7.7 0 0 0 0-.994l-1.485-1.482z' fill='%23#{$light-just-number}'/%3E%3C/svg%3E");
}
@mixin form-inverted {
  label {
    color: $form-bg;
  }
  input, textarea, select {
    color: lighten($form-label, 40%);
    background-color: $form-label;
  }
}
@mixin form-label {
  color: $form-label;
  font-size: .9rem;
  margin-bottom: .2rem;
  margin-left: .2rem;
  font-weight: $font-weight-bold;
  letter-spacing: 0.3;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  .btn {
    border: none !important;
    font-size: .6rem !important;
    padding: 0.08rem 0.3rem !important;
    margin-top: -1px;
    line-height: 1;
  }
  i {
    scale: .9;
    font-size: inherit;
    opacity: .5;
    margin-left: 0.4rem;
  }
}
@mixin form-label-lg {
  font-size: 1.1rem;
  margin-bottom: .3rem;
  .btn {
    font-size: .7rem !important;
    padding: 0.1rem 0.3rem !important;
  }
}
@mixin form-label-sm {
  font-size: .8rem;
  margin-bottom: .1rem;
  .btn {
    font-size: .5rem !important;
    padding: 0.05rem 0.3rem !important;
  }
}
@mixin form-input {
  font-size: .98rem;
  position: relative;
  display: block;
  outline: none;
  box-sizing: border-box;
  line-height: 1.5rem;
  color: $form-text;
  padding: .8rem .9rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $form-bg;
  border-radius: $input-radius;
  border: $form-border;
  width: 100%;
}
@mixin form-input-lg {
  font-size: 1.1rem;
  padding: 1rem .9rem;
}
@mixin form-input-sm {
  font-size: .8rem;
  padding: .7rem .9rem;
}

@import 'forms/form-none';
@import 'forms/form-basic';
@import 'forms/form-invisible';
@import 'forms/form-clean';
@import 'forms/form-muted';
@import 'forms/form-line';
@import 'forms/form-floating';
@import 'forms/form-elegant';
@import 'forms/form-inner';
@import 'forms/checkbox';

//STYLES
label {
  @include form-label;
}

.form-inline {
  display: inline-flex;
  margin-right: 1rem;
}

.form-xs {
  input, textarea, select {
    padding: .3rem .4rem .2rem .6rem;
    font-size: .6rem;
  }
  label {
    font-size: 60%;
  }
}

.form-sm {
  input, textarea {
    padding: 10px 14px;
    //padding: 1rem 10px .6rem 15px;
    font-size: .85rem;
  }
  select {
    padding: 10px 14px;
    //padding: 1rem 10px .6rem 15px;
    font-size: .85rem;
  }
  label {
    font-size: 70%;
  }
}


.form-lg {
  input, textarea, select {
    //padding: 1rem 10px .6rem 15px;
    font-size: 1.3rem;
  }
  label {
    font-size: 110%;
  }
}


.md-search {
  position: relative;
  width: 100%;
  max-width: 600px;
  input {
    font-size: 1rem;
    padding: .8rem;
    width: 100%;
    outline: none;
    color: $dark;
    border: none;
    border-radius: $btn-radius;
    &::-webkit-search-cancel-button {
      display: none;
    }
  }
  i {
    position: absolute;
    top: 11px;
    right: 12px;
    background: transparent;
    color: $gray;
    border: 0;
    opacity: 0.6;
    font-size: 1.7em;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
  }
  i:hover {
    opacity: 1
  }

  &.typeahead {
    input {
      &::-webkit-search-cancel-button {
        display: block;
      }
      &:not(:placeholder-shown) + i {
        display: none;
      }
    }
  }
}


.lg-search {
  position: relative;
  width: 100%;
  //max-width: 600px;
  input {
    font-size: 18px;
    padding: 14px;
    width: 100%;
    outline: none;
    color: $dark;
    border: none;
    border-radius: $btn-radius;
    &::-webkit-search-cancel-button {
      display: none;
    }
  }
  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    background: transparent;
    color: $gray;
    border: 0;
    opacity: 0.6;
    font-size: 2em;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
  }
  i:hover {
    opacity: 1
  }

  &.typeahead {
    input {
      &::-webkit-search-cancel-button {
        display: block;
      }
      &:not(:placeholder-shown) + i {
        display: none;
      }
    }
  }
}



input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


//SELECT BTN
.form-select-btn {
  display: inline-block;
  text-align: center;
  text-align-last: center;
  font-family: $btn-font-family;
  font-weight: $font-weight-bold;
  color: #9AA2B5;
  background-color: $light;
  line-height: 1.05;
  box-sizing: border-box;
  margin: 0;
  border: none;
  border-radius: 8px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  max-width: 100%;
  &::-ms-expand {
    display: none;
  }
  &:focus {
    overflow: none;
    outline: none !important;
    //font-weight: $font-weight-regular;
  }
  &:not(:focus) {
    font-weight: $font-weight-bold;

  }
  &* {
    font-weight: $font-weight-regular;
  }
  &>option {
    font-size: .9rem;
    font-weight: $font-weight-regular;
  }
  &option:checked {
  }
  &option, option {
    font-size: .9rem;
    font-weight: $font-weight-regular !important;
    text-transform: none;
    padding: 20px;
  }
}

.form-select-arrow {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23a0aec0'%3e%3cpath d='M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-size: 1.5rem 1.5rem;
}

.form-select-arrow-white {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23a0aec0'%3e%3cpath d='M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-size: 1.5rem 1.5rem;
}

//RANGE SLIDER
.form-range {
  width: 100%;
  input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: .7rem !important;
    padding: 0 !important;
    background: $gray;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: $btn-radius;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 3rem;
      height: 1.4rem;
      background: $primary;
      cursor: pointer;
      border-radius: $btn-radius * 1.5;
      border: 2px solid white;
    }
    &::-moz-range-thumb {
      width: 3rem;
      height: 1.4rem;
      background: $primary;
      cursor: pointer;
      border-radius: $btn-radius * 1.5;
      border: 2px solid white;
    }
  }
  &.form-sm {
    input {
      height: .6rem !important;
      &::-webkit-slider-thumb {
        width: 1.3rem;
        height: 1.1rem;
      }
      &::-moz-range-thumb {
        width: 1.3rem;
        height: 1.1rem;
      }
    }
  }
  &:hover {
    input {
    }
  }
}


//FORMS FILE INPUT NEW VERSION WITH DRAG DROP
.custom-file-upload {
  position: relative;
  font-size: 14px;
  padding: 7px 14px;
  display: inline-block;
  color: $form-text;
  background-color: $form-bg;
  cursor: pointer;
  overflow: hidden;
  svg {
    fill: $form-text;
  }
  &* {
    pointer-events: none;
  }
  label {
    cursor: pointer;
  }
  &:hover {
    color: $white;
    background-color: $primary;
    svg {
      fill: $white;
    }
  }
  input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active, input:-webkit-autofill, input:-webkit-autofill-strong-password {
  background-color: $form-bg !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.form-muted.required label:after, .form-clean.required label:after, .form-muted-select.required label:after { 
  color: $red;
  content: "*";
  margin-left: 5px;
  vertical-align: super;
}

.form-basic, .form-clean, .form-muted {
  label {
    .btn {
      border-radius: calc(#{$btn-radius} * 0.6);
    }
  }
}

//PREVENT ZOOM ON MOBILE
//<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
@media (max-width: $desktop-breakpoint) {
  //select, textarea, input { font-size: 16px; }
}


.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.select-search {
  position: absolute;
  left: 0;
  top: 2rem;
  z-index: 99;
  min-width: 200px;
  max-width: 400px;
  padding: .2rem .4rem;
  background-color: rgba($box-bg, var(--o, 1));
  box-shadow: 0 1px 3px 0 rgba($black, 0.1), 0 1px 2px 0 rgba($black, 0.06) !important;
  border-radius: $box-radius * .95;
  input {
    font-size: .85rem;
    line-height: 1.2rem;
    padding: .5rem .6rem;
    margin: 0;
    border: none;
  }
  ul {
    margin-top: .2rem;
    display: block;
    max-height: 250px;
    overflow: auto;
    li {
      display: flex;
      flex-wrap: wrap;
      font-size: .85rem;
      line-height: 1.2;
      padding: .5rem .5rem;
      border-radius: $box-radius * .8;
      img {
        display: inline-block;
        width: 28px;
        height: 28px;
        object-fit: cover;
      }
      small {
        display: block;
        color: var(--gray-700);
        font-size: .7rem;
        font-weight: $font-weight-light;
      }
      &:hover {
        cursor: pointer;
        background-color: var(--light-400);
      }
      &.option-selected {
        color: var(--white);
        background-color: var(--primary);
      }
    }
  }
}
