.grid {
  display: grid;
}

@for $i from 1 through $columns {
  .grid-#{$i} {
    display: grid;
    grid-template-columns: repeat(#{$i}, 1fr);
  }
}

//RESPONSIVE GRID
@each $breakpoint, $max-width in $container-max-widths {
  @media (min-width: $max-width) {
    @for $i from 1 through $columns {
      .#{$breakpoint}-grid-#{$i} {
        display: grid;
        grid-template-columns: repeat(#{$i}, 1fr);
      }
    }
  }
}

//GAPS
@for $i from 1 through 20 {
  .gap-#{$i} {
    --gap: #{$i}px;
    gap: #{$i}px;
  }
  .gapx-#{$i} {
    --gap: #{$i}px;
    column-gap: #{$i}px;
  }
  .gapy-#{$i} {
    row-gap: #{$i}px;
  }
}
@media (min-width: $desktop-breakpoint) {
  @for $i from 1 through 20 {
    .md-gap-#{$i} {
      --gap-md: #{$i}px;
      gap: #{$i}px;

    }
    .gapx-#{$i} {
      --gapx-md: #{$i}px;
      column-gap: #{$i}px;
    }
    .gapy-#{$i} {
      row-gap: #{$i}px;
    }
  }
}