.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;

  .modal-backdrop {
    position: absolute;
    z-index: 900;
    width: 100vw;
    height: 100vh;
    background-color: rgba($modal-bg, 0.86);
    animation: modal .2s ease-in;
  }

  .modal-dialog {
    position: absolute;
    z-index: 950;
    transform: none;
    min-width: $modal-min-width;
    max-height: 90%;
    @media (max-width: $desktop-breakpoint) {
      min-width: 90%;
      margin: 0px;
      left: 2%;
      right: 2%;
    }
    animation: modal .4s ease-in;
  }


  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    outline: 0;
    height: 100%;
    max-height: 100%;
    max-width: $desktop-breakpoint;
    background-color: white;
    overflow: hidden;
    .modal-header,
    .modal-footer {
      flex-shrink: 0;
    }
    .modal-header {
      display: flex;
      justify-content: space-between; // Put modal header elements (title and dismiss) on opposite ends
      border-radius: 0px;
      padding: ($modal-padding * .7) $modal-padding 6px $modal-padding;
      border: none;
      text-align: left;
      .close {
        position: absolute;
        top: 1rem;
        right: 1.2rem;
        cursor: pointer;
        font-size: 1.5rem;
        color: $gray;
        &:hover {
          color: $dark;
        }
      }
      &.modal-header-inverted {
        background-color: $primary;
        padding-bottom: 14px;
        color: white;
        h4 {
          color: white;
        }
        .close {
          color: $light;
        }
      }
    }
    h4 {
      width: auto;
      font-size: 2.5rem;
      line-height: 1.1;
      font-weight: $font-weight-bold;
      span {
        font-weight: normal;
        display: block;
        font-size: 1rem;
        opacity: .7;
      }
    }
    h5 {
      font-size: 1.6rem;
      font-weight: $font-weight-bold;
    }
    .modal-body {
      overflow-y: auto;
      position: relative;
      flex: 1 1 auto;
      padding: 12px $modal-padding 12px $modal-padding;
      text-align: left;
      max-height: 70vh;
      //HIDE SCROLL BAR
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
      scrollbar-width: none;
      &::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
      }
    }
    .modal-footer {
      padding: .6rem $modal-padding .6rem $modal-padding;
      display: flex;
      align-items: center;
      border: none;
      background-color: $light;
    }

    @media (max-width: $desktop-breakpoint) {
      .modal-header {
        padding: 1.1rem 1.1rem 1.3rem 1rem !important;
        .close {
          right: 1rem;
        }
        h4 {
          font-size: 2.1rem;
        }
        h5 {
          font-size: 1.4rem;
        }
        h6 {
          //font-size: 1.1rem;
        }
      }
      .modal-body {
        padding: 1.5rem 1rem 1rem 1rem !important;
      }
    }
  }
}


//POSITIONS
.modal-left {
  justify-content: flex-start;
  align-items: stretch;
  .modal-dialog {
    top: 0;
    bottom: 0;
    max-height: 100%;
    .modal-body {
      max-height: 100vh;
    }
    @media (max-width: $desktop-breakpoint) {
      left: 0;
      right: 8%;
    }
  }
}
.modal-right {
  justify-content: flex-end;
  align-items: stretch;
  .modal-dialog {
    top: 0;
    bottom: 0;
    max-height: 100%;
    .modal-body {
      max-height: 100vh;
    }
    @media (max-width: $desktop-breakpoint) {
      right: 0;
      left: 8%;
    }
  }
}
.modal-full {
  align-items: stretch;
  .modal-dialog {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    .modal-content {
      max-width: 100%;
      .modal-body {
        max-height: 100vh;
      }
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .md-modal-left {
    justify-content: flex-start;
    align-items: stretch;
    .modal-dialog {
      top: 0;
      bottom: 0;
      max-height: 100%;
      .modal-body {
        max-height: 100vh;
      }
      @media (max-width: $desktop-breakpoint) {
        left: 0;
        right: 8%;
      }
    }
  }
  .md-modal-right {
    justify-content: flex-end;
    align-items: stretch;
    .modal-dialog {
      top: 0;
      bottom: 0;
      max-height: 100%;
      .modal-body {
        max-height: 100vh;
      }
      @media (max-width: $desktop-breakpoint) {
        right: 0;
        left: 8%;
      }
    }
  }
  .md-modal-full {
    align-items: stretch;
    .modal-dialog {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      max-height: 100%;
      .modal-content {
        max-width: 100%;
        .modal-body {
          max-height: 100vh;
        }
      }
    }
  }
  .md-modal-center {
    justify-content: center;
    align-items: center;
    .modal-dialog {
      top: auto;
      bottom: auto;
      left: auto;
      right: auto;
      max-height: 90%;
      .modal-content {
        max-width: $desktop-breakpoint;
        .modal-body {
          max-height: 70vh;
        }
      }
    }
  }
}



@keyframes modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.body-fix {
  overflow: hidden;
}