//LINE TABS
.tabs-line {
  font-size: 0.98rem;
  padding-bottom: 0rem;
  border-bottom: 1px darken($light, 5%) solid;
  color: $gray;
  display: flex;
  //display: inline-flex;
  flex-direction: row;
  .tab-link {
    cursor: pointer;
    color: $gray;
    letter-spacing: 0.6px;
    margin: 0;
    border-radius: 0;
    padding: .7rem;
    padding-bottom: .8rem;
    border: 0px;
    border-bottom: 4px solid transparent;
    background-color: transparent;
    outline: none !important;
    white-space: nowrap;
    &:hover {
      color: $body;
    }
    &.tab-active {
      cursor: default;
      //pointer-events: none;
      color: $primary;
      background-color: transparent;
      border-color: $primary;
    }
  }
  &.text-uppercase {
    .tab-link {
      text-transform: uppercase;
    }
  }
}

//LINE TABS
.tabs-line-sm {
  .tab-link {
    padding-bottom: .6rem;
  }
}

//LINE VERTICAL
.tabs-vertical {
  border-bottom: none;
}
@media (min-width: $desktop-breakpoint) {
  .tabs-vertical {
    flex-direction: column;
    flex-wrap: wrap;
    .tab-link {
      display: block;
      width: fit-content;
      text-align: left !important;
      padding: .2rem;
      padding-left: 1rem;
      margin-bottom: .5rem;
      &.tab-active {
        border-left: 4px solid $primary;
        border-bottom: none;
        pointer-events: none;
      }
    }
  }
}


//BUTTONS TABS
.tabs-btn {
  display: inline-flex;
  flex-direction: row;
  .btn {
    margin-right: .5rem;
    margin-bottom: .1rem;
    &.tab-active {
      cursor: default;
      pointer-events: none;
    }
  }
}


//PANEL TABS
.tabs-panel {
  //display: inline-flex;
  flex-direction: row;
  margin-bottom: -1px;
  .btn {
    margin: 0 .5rem 0 0;
    border-width: 0 !important;
    padding: ($btn-padding-y * .5) ($btn-padding-x * .55);
    &.tab-active {
      cursor: default;
      pointer-events: none;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      padding: ($btn-padding-y * 1) ($btn-padding-x * .55) ($btn-padding-y * 1.1) ($btn-padding-x * .55);
      &:hover {
      }
      // &::before, &::after {
      //   z-index: 1;
      //   content: "";
      //   display: block;
      //   position: absolute;
      //   width: var(--tab-radius,.5rem);
      //   height: var(--tab-radius,.5rem);
      //   bottom: 0;
      // }
      // &::before {
      //   left: calc(var(--tab-radius,.5rem) * -1);
      //   --circle-pos: top left;
      // }
    }
  }
}