.form-none, .form-none-select {
  position: relative;
  //margin-bottom: .8rem;
  label {
    color: $form-label;
    font-size: .8rem;
    margin-bottom: .2rem;
    margin-left: .2rem;
    font-weight: $font-weight-regular;
    letter-spacing: 0.3;
    .btn {
    }
  }

}

.form-none {
  input, textarea, select {
    width: 100%;
    display: block;
    outline: none;
    color: $form-text;
    background-color: $form-bg;
    border: $form-border;
    border-radius: $input-radius;
    padding: 12px 14px;
    -moz-appearance: none;
    -webkit-appearance: none;
    &:focus {
        border-color: $primary;
    }
  }
  select {
    line-height: 1.5rem;
    height: 3rem;
  }
  input, textarea {
    &::placeholder {
      color: $gray;
    }
  }
  input  {
    max-width: 600px;
  }
}

.form-none-select {
  max-width: 600px;
  select {
    width: auto;
    display: block;
    outline: none;
    color: $form-text;
    background-color: $form-bg;
    border: $form-border;
    border-radius: $input-radius;
    padding: $btn-padding-y $btn-padding-x;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &::-ms-expand {
      display: none;
    }
    &:focus {
      outline: none;
    }
    &>option{
      color: $light !important;
    }
    &>option:disabled {
      //color: white;
    }
  }
  &>option{
    padding-bottom: 1rem;
  }
}