@mixin form-inner-input {
  @include form-input;
  border-bottom: $form-border;
  padding: 1rem 1.2rem;
  transition: all 0.4s ease-in-out;
}

.form-line, .form-line-select {
  position: relative;
  margin-bottom: .8rem;
  label {
    @include form-label;
    font-weight: $font-weight-regular;
  }

}

.form-line {
  input, textarea, select {
    @include form-inner-input;
    &:focus {
      border: $form-border;
    }
    &:hover {
      border: $form-border;
    }
  }
  input, textarea {
    &::placeholder {
      color: $gray;
    }
  }
  textarea  {
    border: $form-border;
  }
}

.form-line-select {
  select {
    @include form-inner-input;
    &::-ms-expand {
      display: none;
    }
    &:focus {
      outline: none;
    }
    &>option{
      color: $light !important;
    }
    &>option:disabled {
      //color: white;
    }
  }
  &>option{
    padding-bottom: 1rem;
  }
}