$form-muted-bg: $light;
@if $form-bg != #ffffff {
  $form-muted-bg: $form-bg;
}

@mixin form-muted-label {
  @include form-label;
  font-size: .8rem;
}

.form-muted {
  margin-bottom: .8rem;
  label {
    @include form-muted-label;
  }
  select {
    background-color: $form-muted-bg;
    border: 1px solid transparent;
    line-height: 1.5rem;
    height: 3rem;
    &:focus {
        box-shadow: 0 0px 0px 0 $form-bg;
        border: none !important;
    }
  }
  input, textarea, select {
    background-color: $form-muted-bg;
    border: 1px solid $form-muted-bg;
    box-shadow: transparent;
    transition: box-shadow .15s ease;
    &:focus {
        box-shadow: 0 0px 0px 0 $form-muted-bg;
        background-color: lighten($form-muted-bg, 5%);
    }
    &::placeholder {
    }
  }
  textarea {
    resize: vertical;
  }
}

.form-muted-select {
  margin-bottom: .8rem;
  position: relative;
  label {
    @include form-muted-label;
  }
  select {
    @include form-muted-label;
    background-color: $form-muted-bg;
    border: 1px solid $form-muted-bg;
    &::-ms-expand {
      display: none;
    }
    &:focus {
      outline: none;
      border: none !important;
    }
    &>option{
      //color: $light !important;
    }
    &:option:disabled {
      //color: white;
      opacity: .5;
    }
  }
  &>option{
    padding-bottom: 1rem;
  }
}