.form-floating {
  position: relative;
  margin-bottom: .3rem;
  position: relative;
  margin-bottom: 1rem;
  input, textarea {
    width: 100%;
    color: $form-text;
    border: $form-border;
    border-radius: $input-radius;
    background-color: $form-bg;
    font-size: 1rem !important;
    line-height: 1.5;
    padding: $btn-padding-y ($btn-padding-y * 1.1);
  }
  label {
    position: absolute;
    top: 1px;
    left: 14px;
    display: block;
    padding-bottom: 3px;
    padding-top: 6px;
    width: calc(100% - 20px);
    font-size: .7rem;
    line-height: 1;
    text-transform: uppercase;
    color: $form-label;
    background: $form-bg;
  }
}

.form-floating>.form-control, .form-floating>.form-select {
  height: calc(3.5rem + 2px);
  padding: 1rem .75rem;
}
.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}