$form-muted-bg: $light;
@if $form-bg != #ffffff {
  $form-muted-bg: $form-bg;
}

@mixin form-muted-label {
  @include form-label;
  font-size: .76rem;
}
@mixin form-muted-input {
  @include form-input;
  background-color: $form-muted-bg;
  border: 1px solid $form-muted-bg;
  box-shadow: transparent;
  transition: box-shadow .15s ease;
  &:focus {
      box-shadow: 0 0px 0px 0 $form-muted-bg;
      background-color: lighten($form-muted-bg, 5%);
  }
  &::placeholder {
  }
}

.form-muted {
  @include form;
  label {
    @include form-muted-label;
  }
  input, textarea, select {
    @include form-muted-input;
  }
  textarea {
    resize: vertical;
  }
}

.form-muted-select {
  @include form;
  label {
    @include form-muted-label;
  }
  select {
    @include form-muted-input;
    &::-ms-expand {
      display: none;
    }
    &>option{
      //color: $light !important;
    }
    &:option:disabled {
      //color: white;
      opacity: .5;
    }
  }
  &>option{
    padding-bottom: 1rem;
  }
}
