@mixin form-inner-label {
  @include form-label;
    position: absolute;
    top: 1px;
    left: nth($form-padding, -1) - 3px;
    display: block;
    padding-bottom: 3px;
    padding-top: 7px;
    width: calc(100% - 20px);
    font-size: .7rem;
    line-height: 1;
    background: transparent;
}


.form-inner {
  position: relative;
  margin-bottom: .4rem;
  input, textarea, select {
    @include form-input;
    &::placeholder {
      color: $form-light;
      opacity: 0.8;
    }
    &:not(:placeholder-shown) ~ label {
      color: $form-label;
    }
    &:focus {
      outline: none;
      //background-color: darken($form-bg, 1%);
      border-color: lighten($form-text, 50%);
    }
  }
  label {
    @include form-inner-label;
  }
  @if $input-radius == 9999px or $input-radius == 'full'  {
    input, textarea {
      padding-left: 25px;
    }
    label {
      left: 25px;
      width: calc(100% - 50px);
    }
  }

  @if $input-radius == 9999px or $input-radius == 'full'  {
    small {
      padding-left: 25px;
    }
  }
}



.form-inner-select {
  position: relative;
  select {
    @include form-input;
    &::-ms-expand {
      display: none;
    }
    &:focus {
      outline: none !important;
    }
    option[value=""] ~ label {
      color: blue;
    }
  }
  label {
    @include form-inner-label;
    &::after {
      content: ' ';
      display: inline-block;
      pointer-events: none;
      opacity: 0.5;
      border-style: solid;
      border-width: 1px 1px 0 0;
      height: 8px;
      width: 8px;
      margin-left: .5rem;
      transform: rotate(135deg);
    }
  }
  @if $input-radius == 9999px or $input-radius == 'full'  {
    select {
      padding-left: 25px;
    }
    label {
      left: 25px;
      width: calc(100% - 50px);
    }
  }
}

.form-inner.required, .form-inner-select.required {
  &::after { 
    content:"*";
    font-size: 1rem;
    color:$red;
    opacity: 1;
    position: absolute;
    width: 1rem;
    top: 4px;
    right: .5rem;
    @if $input-radius == 9999px or $input-radius == 'full'  {
      right: .7rem;
    }
    
  }
}


.form-inner, .form-inner-select {
  input:disabled {
    background-color: darken($form-bg, 4%);
    border: 1px solid darken($form-bg, 4%);
    opacity: 0.8;
  }
  input[readonly] {
    background-color: transparent;
    border: 1px transparent;
    //box-shadow: none;
    padding-left: .5rem;
  }
  input[readonly] + label {
    left: .5rem;
  }
  .text-muted {
    margin-top: .1rem;
    padding-left: .5rem;
    color: lighten($form-text, 30%) !important;
  }
}

.form-inner-lg {
  input, textarea, select {
    padding: 22px 10px 4px 15px;
    font-size: 1.1rem !important;
  }
  label {
    top: 2px;
    font-size: .8rem;
    .btn {
      font-size: .65rem !important;
      margin-top: -2px;
    }
  }
}

.form-inner-sm {
  input, textarea, select {
    padding: 17px 10px 4px 15px;
    font-size: 0.8rem !important;
  }
  label {
    font-size: .55rem;
    .btn {
      font-size: .5rem !important;
      margin-top: -3px;
    }
  }
}



.form-inner-inverted {
  input, textarea, select {
    background-color: $dark;
    color: lighten($dark, 80%);
  }
  label {
    color: lighten($dark, 40%);
    background-color: $dark;
  }

}