.form-basic, .form-basic-select {
  @include form;
  label {
    @include form-label;
    font-weight: $font-weight-regular;
    .btn {
      padding: 0.1rem 0.4rem !important;
    }
  }
}

.form-basic {
  input, textarea, select {
    @include form-input;
    &:focus {
        border-color: $primary;
    }
    &::placeholder {
      color: $gray;
    }
  }
}

.form-basic-select {
  @include form;
  overflow: hidden;
  select {
    @include form-input;
    &::-ms-expand {
      display: none;
    }
    &:focus {
      outline: none;
      border-color: $primary;
    }
    &>option{
      color: $light !important;
    }
    &>option:disabled {
      //color: white;
    }
  }
  &>option{
    padding-bottom: 1rem;
  }
  &:after {
    content: ' ';
    position: absolute;
    top: 55%;
    right: 20px;
    pointer-events: none;
    opacity: 0.4;
    border-style: solid;
    border-width: 1px 1px 0 0;
    height: 10px;
    width: 10px;
    transform: rotate(135deg);
  }
}
