@import "../scss/variables";

//BACKEND
$backend-header-height: 60px !default;
$backend-header-logo-height: ($backend-header-height * .8) !default;
$backend-bg: #f8fafc !default;
$backend-sidebar-bg: white !default;
$backend-sidebar-width: 250px !default;
$backend-xs-sidebar-bg: $backend-sidebar-bg !default;
$backend-xs-sidebar-width: 60px !default;
$backend-sidebar-padding: ($backend-sidebar-width * .15) / 2 !default;
$backend-article-margin: $backend-sidebar-width !default;
$backend-breakpoint: 1168px !default;
$backend-sidebar-links: #2a5164 !default;
$backend-sidebar-links-hover: transparent !default;
$backend-sidebar-links-padding: .6rem !default;
$backend-sidebar-active-color: $white !default;
$backend-sidebar-active-bg: $primary !default;

$backend-box-bg: $backend-xs-sidebar-bg !default;
$backend-box-padding: $backend-sidebar-padding !default;
//$backend-box-shadow: none !default;
$backend-box-radius: $btn-radius * 1.1 !default;

@if $backend-box-radius > 30px {
  $backend-box-radius: 30px;
}

body {
  background: linear-gradient(90deg, $backend-sidebar-bg 30%, $backend-bg 70%);
}

main {
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
  &.rounded-full {
    border-radius: 40px !important;
  }
  @media (max-width: $backend-breakpoint) {
    padding-left: .2rem;
    padding-right: .2rem;
  }
}


.bg-backend {
  background-color: $backend-bg;
}
.backend-sidebar-w {
  width: $backend-sidebar-width;
}
.backend-sidebar-p {
  padding: $backend-sidebar-padding;
}
.backend-sidebar-px {
  padding-left: $backend-sidebar-padding;
  padding-right: $backend-sidebar-padding;
}


.body-fix {
  overflow: hidden;
  padding-right: 15px;
}


.nav-header {
  height: $backend-header-height;
  .nav-logo {
    padding-left: $backend-sidebar-padding;
    padding-right: $backend-sidebar-padding;
    width: $backend-sidebar-width;
    max-width: $backend-sidebar-width;
    margin-inline: 1rem;
    .nav-logo-complete {
      max-height: $backend-header-logo-height;
      margin: 0 auto;
    }
    .nav-logo-icon {
      max-height: ($backend-header-logo-height * .6);
      display: none;
      margin: 0 auto;
    }
  }
  .nav-text {
    padding-left: 1rem;
  }
  .nav-box {
    display: inline-flex !important;
    position: absolute;
    z-index: 120;
    right: 12px; top: 8px;
    text-align: right;
    background: $backend-xs-sidebar-bg;
    padding: 5px 6px;
    border-radius: 25px !important;
    .element {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 30px;
      height: 40px;
      margin-right: 3px;
    }
    img {
      cursor: pointer;
      border-radius: 25px !important;
      width: 40px;
      height: 40px;
      margin-left: 2px;
    }
  }

  .nav-searchBox {
    position: fixed !important;
    z-index: 999;
    top: 0; left: 0; bottom: 0; right: 0;
    background: $backend-xs-sidebar-bg;
    padding: 1rem;
  }

  @media (max-width: $container) {
    .nav-logo {
      margin-inline: 1rem;
      //margin-left: 0.8rem;
      //margin-right: 1.2rem;
      padding: 0;
      width: $backend-xs-sidebar-width;
      max-width: $backend-xs-sidebar-width;
      .nav-logo-complete {
        display: none;
      }
      .nav-logo-icon {
        display: block;
      }
    }
  }

  @media (max-width: map-get($container-max-widths, 'md')) {
    .nav-logo {
      display: none;
    }
  }

}

.nav-article {
  padding-left: 0;
  min-height: 80vh;
  max-width: 1200px !important;
  @media (min-width: map-get($container-max-widths, 'md')) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@mixin xs-sidebar() {
  max-width: $backend-xs-sidebar-width;
  background-color: $backend-xs-sidebar-bg;
  border-radius: $btn-radius;
  .nav-sidebar-content {
    padding: .4rem;
    ul {
      padding: 0;
      li {
        line-height: 0;
        padding-top: .15rem;
        padding-bottom: .15rem;
        a {
          text-align: center;
          padding: .4rem .3rem;
          font-size: 0;
          border-radius: $btn-radius;
        }
        a:hover {
          background-color: darken($backend-xs-sidebar-bg, 5%);
          
        }
        i {
          display: block;
          font-size: 1.3rem;
          padding: 0;
          margin: 0 auto;
        }
        .badge {
          line-height: 1;
          font-size: .6rem;
          top: -2px;
          left: 70%;
          right: auto;
          padding: .24rem;
        }
      }
    }
  }
}

.nav-sidebar {
  position: relative;
  max-width: $backend-sidebar-width;
  top: 0; /* required */
  //align-self: flex-start;
  background-color: $backend-sidebar-bg;
  //transition: all 200ms linear;
  margin-inline: 1rem;

  .nav-sidebar-content {
    //makes scroll the side bar
    // overflow: auto;
    // -ms-overflow-style: none;
    // -webkit-overflow-scrolling: touch;
    // scrollbar-width: none;
    // &::-webkit-scrollbar {
    //   display: none;
    // }

    position: relative;
    clear:both;
    ul {
      font-size: 13px;
      list-style: none;
      width: 100%;
      vertical-align: middle;
      padding: $backend-sidebar-padding;
      li {
        display: block;
        margin-top: .1rem;
        margin-bottom: .1rem;
        a {
          position: relative;
          padding: $backend-sidebar-links-padding ($backend-sidebar-links-padding * .8) $backend-sidebar-links-padding ($backend-sidebar-links-padding * 1.6);
          color: $backend-sidebar-links !important;
          font-size: .96rem;
          font-weight: $font-weight-regular;
          display: block;
          text-decoration: none;
          width: 100%; 
          border-radius: $btn-radius;
        }
        a:hover {
          opacity: .8;
          background: $backend-xs-sidebar-bg;
        }
        i {
          width: 27px;
          text-align: center;
          padding-right: 10px;
        }
        .badge {
          position: absolute;
          top: ($backend-sidebar-links-padding * 1.2);
          right: ($backend-sidebar-links-padding * .8);
          padding: ($btn-padding-y * .4) ($btn-padding-x * .2);
          font-weight: $font-weight-bold;
        }
        .active {
          cursor: default;
          color: rgba($backend-sidebar-active-color, .9) !important;
          background: $backend-sidebar-active-bg !important;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  &.sticky {
    position: sticky;
    position: -webkit-sticky;
    z-index: 99;
  }
  &.full-h {
    min-height: 100vh; // calc(100vh - $backend-header-hight) !important;
  }

  //@media (min-width: map-get($container-max-widths, 'sm')) and (max-width: map-get($container-max-widths, 'md')) {
  @media (min-width: map-get($container-max-widths, 'md')) and (max-width: $container) {
    @include xs-sidebar;
  }
  @media (max-width: map-get($container-max-widths, 'md')) {
    position: fixed !important;
    top: 1rem; left: 0.5rem; bottom: 1rem;
    width: 100%;
    z-index: 900;
    // width: ($backend-sidebar-width * 1.3);
    // max-width: 100%;
    margin-inline: 0;
    background-color: $backend-xs-sidebar-bg;
    box-shadow: 6px 0 15px -8px rgba($primary, 0.2);
		// transition: all .25s ease-out;
    // left: 50%;
    // transform: translateX(-50%);
		// left: -($backend-sidebar-width * 1.5);
    // &.active {
    //   left: 0px !important;
    // }
  }
  &.xs-sidebar {
    @include xs-sidebar;
  }
}


//PAGE STYLES
.breadcrumb {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}


footer {
  flex: 0 0 100%;
  width: 100%;
  margin-top: 20px;
  font-size: .8rem;
  opacity: .5;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  @media (max-width: $backend-breakpoint) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.search-input {
  input {
    font-size: 2rem;
    color: $dark;
    caret-color: $primary;
    &:focus {
      //border-bottom: 2px solid $light;
      &::placeholder {
      }
    }
    &::placeholder {
      padding-left: .1rem;
      color: $gray;
    }
  }
}

.modal--backdrop {
    position: fixed;
    z-index: 900;
    background-color: rgba($light, 0.86);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // backdrop-filter: blur(10px) brightness(90%) saturate(80%);
    // -webkit-backdrop-filter: blur(10px) brightness(90%) saturate(80%);
    //animation: modal .2s ease-in;
    //pointer-events: none;
}

.search-results {
  position: fixed;
  z-index: 99999;
  top: 10px;
  right: 10px;
  width: 90%;
  max-width: 450px;
  min-height: 100px;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  background: $white !important;
  background-color: $white !important;
  //box-shadow: 0px 12px 10px 5px rgba($light, 0.5);
  border-radius: 1rem;
  .search-result-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background-color: var(--white);
    color: $dark;
    padding: .5rem;
    margin-top: .25rem;
    border-radius: 0.25rem;
    border: 1px solid $light;
    transition: 0.3s;
    line-height: .9;
    &:hover {
      border: 1px solid $primary;
    }
  }
  // .search-results-head {
  //   background-color: white;
  //   padding: .8rem 1rem;
  //   border-bottom: 1px $light solid;
  // }
  // .search-results-body {
  //   padding: .8rem 1rem;
  // }
  // &::before {
  //   pointer-events: none;
  //   content: "";
  //   z-index: -1;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba($dark, 0.6);
  //   // backdrop-filter: blur(10px) brightness(90%) saturate(80%);
  //   // -webkit-backdrop-filter: blur(10px) brightness(90%) saturate(80%);
  // }
  @media (max-width: map-get($container-max-widths, 'md')) {
    left: 10px;
    width: 95%;
    padding: 0.5rem 0.8rem 0.8rem 0.8rem;
  }
}

.box-admin {
  background-color: rgba($backend-box-bg, var(--o, 1));
  padding: ($backend-box-padding * 1.1) ($backend-box-padding * 1) ($backend-box-padding * 1.08) ($backend-box-padding * 1);
  border-radius: $backend-box-radius;
  box-shadow: $backend-box-shadow;
  @if variable-exists(backend-box-shadow) {
    box-shadow: $backend-box-shadow;
  }
  @media (min-width: $desktop-breakpoint) {
    padding: ($backend-box-padding * 1.25) ($backend-box-padding * 1.13) ($backend-box-padding * 1.2) ($backend-box-padding * 1.13);
  }
}