.hljs {
  //background-color: var(--code-bg, $code-bg);
  color: var(--code-color, $code-color);
  font-size: 14px;
  line-height: 1.5;
}
.hljs-comment {
  color: var(--dark-200, $gray);
}
.hljs-punctuation {
  color: #a1feff;
}
.hljs-tag, .hljs-tag {
  color: var(--orange-200, $orange);
}
.hljs-name {
  color: $orange;
}
.hljs-attr {
  color: var(--light-600, $light);
}
.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-selector-tag {
  color: $light;
  font-weight: $font-weight-bold;
}
.hljs-string {
  color: #A6C260; //lighten($green, 25%);
  opacity: .8;
}
.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-template-tag,
.hljs-type {
  color: var(--green-500, $green);
}
.hljs-section,
.hljs-title {
  color: var(--green-300, $green);
  font-weight: $font-weight-bold;
}
.hljs-link,
.hljs-operator,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
  color: var(--orange-300, $orange);
}
.hljs-literal {
  color: var(--green-200, $green);
}
.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code {
  color: var(--green-700, $green);
}
.hljs-meta {
  color: #1f7199;
}
.hljs-meta .hljs-string {
  color: #4d99bf;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: $font-weight-bold;
}